<?xml version="1.0" encoding="UTF-8"?>
<translation>
	<menu_categorys>Catalogusmanagement</menu_categorys>
	<menu_add_category>toevoegen</menu_add_category>
	<menu_view_category>bekijken</menu_view_category>
	<menu_artists>Artiesten</menu_artists>
	<menu_add_artist>Artiest toevoegen</menu_add_artist>
	<menu_locations>Locaties</menu_locations>
	<menu_add_location>Locatie toevoegen</menu_add_location>
	<menu_resources>Middelen</menu_resources>
	<menu_add_resource>Middel toevoegen</menu_add_resource>
	<menu_performances>Voorstellingen</menu_performances>
	<menu_add_performance>Voorstelling toevoegen</menu_add_performance>
	<menu_usermanagement>Gebruikersbeheer</menu_usermanagement>
	<menu_manage_users>Beheer gebruikers</menu_manage_users>
	<menu_manage_groups>Beheer groepen</menu_manage_groups>
	<menu_add_user>Nieuwe gebruiker</menu_add_user>
	<menu_logout>Uitloggen</menu_logout>
	<text_userlogin>Gebruiker</text_userlogin>
	<menu_fancy>Fancy Scripts</menu_fancy>
	<menu_fancy_html5>Html5</menu_fancy_html5>
	<menu_fancy_vectorjs>Vectorjs</menu_fancy_vectorjs>
	<menu_catalog>Catalog</menu_catalog>
	<menu_products>Product management</menu_products>
	<menu_view_product>Bekijken</menu_view_product>
	<menu_add_product>Toevoegen</menu_add_product>

        
</translation>