

body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}


#topsection{
/*background: #EAEAEA;*/
height: 70px; /*Height of top section*/

}

#topsection h1{
margin: 0;
padding: 10px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 15% 0 20%; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 20%; /*Width of left column in percentage*/
margin-left: -100%;

}

#rightcolumn{
float: left;
width: 15%; /*Width of right column in pixels*/
margin-left: -15%; /*Set margin to that of -(RightColumnWidth)*/
background: black;
}

#footer{
clear: left;
width: 100%;
background: silver;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: grey;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}
.floatright
 {
float: right;
 width: 100px;
 }
